---
const siteTitle = "Zero Width Space Copier";
const siteDescription = "Website only for copying zero width space to clipboard.";
const twitterHandle = "@tec2soc";
const githubHandle = "tecsoc";
const repositoryName = "zero-width-space-copier";
const siteUrl = `https://${githubHandle}.github.io/${repositoryName}`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={siteTitle} />
		<meta property="og:description" content={siteDescription} />
		<meta property="og:type" content="website" />
		<mena property="og:url" content={siteUrl} />
		<meta name="twitter:site" content={twitterHandle} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content={siteTitle} />
		<meta name="twitter:description" content={siteDescription} />

		<title>{siteTitle}</title>
		<script>
			const onClickCopyButton = async () => {
				const zeroWidthSpace = "\u200B";
				try {
					if (navigator.clipboard) {
						await navigator.clipboard.writeText(zeroWidthSpace);
						alert("Copied to clipboard!");
					} else {
						const textArea = document.createElement("textarea");
						textArea.value = zeroWidthSpace;
						document.body.appendChild(textArea);
						textArea.select();
						document.execCommand("copy");
						document.body.removeChild(textArea);
					}
				} catch (error) {
					console.error(error);
					alert("Failed to copy to clipboard!");
				}
			};

			const copyButton = document.getElementById("copy-button");
			copyButton?.addEventListener("click", onClickCopyButton);
		</script>
	</head>
	<body>
		<h1>{siteTitle}</h1>
		<button id="copy-button">Copy</button>
</html>
