---
const siteTitle = "Zero Width Space Copier";
const siteDescription = "Website only for copying zero width space to clipboard.";
const twitterHandle = "@tec2soc";
const githubHandle = "tecsoc";
const repositoryName = "zero-width-space-copier";
const siteUrl = `https://${githubHandle}.github.io/${repositoryName}`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={siteDescription} />
		<meta property="og:title" content={siteTitle} />
		<meta property="og:description" content={siteDescription} />
		<meta property="og:type" content="website" />
		<mena property="og:url" content={siteUrl} />
		<meta name="twitter:site" content={twitterHandle} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content={siteTitle} />
		<meta name="twitter:description" content={siteDescription} />

		<link rel="manifest" href="manifest.json" />

		<title>{siteTitle}</title>
		<script
			type="text/partytown"
			src="https://www.googletagmanager.com/gtag/js?G-RGZZ7CNQ3S">
		</script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-RGZZ7CNQ3S");
		</script>
		<script>
			const onClickCopyButton = async () => {
				const zeroWidthSpace = "\u200B";
				try {
					if (navigator.clipboard) {
						await navigator.clipboard.writeText(zeroWidthSpace);
						alert("Copied to clipboard!");
					} else {
						const textArea = document.createElement("textarea");
						textArea.value = zeroWidthSpace;
						document.body.appendChild(textArea);
						textArea.select();
						document.execCommand("copy");
						document.body.removeChild(textArea);
					}
				} catch (error) {
					console.error(error);
					alert("Failed to copy to clipboard!");
				}
			};

			const copyButton = document.getElementById("copy-button");
			copyButton?.addEventListener("click", onClickCopyButton);

			if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register('sw.js')
					.then((reg) => { console.log('SW registered.', reg); });
			}
		</script>
		<style>
			body {
				$bodyPadding: 1rem;
				$twoBodyPadding: $bodyPadding * 2;

				width: calc(100vw - #{$twoBodyPadding});
				height: calc(100vh - #{$twoBodyPadding});
				height: calc(100lvh - #{$twoBodyPadding});
				height: calc(100vh - #{$twoBodyPadding});
				word-break: keep-word;
				padding: $bodyPadding;

				font-size: 13px;
				@media (min-width: 768px) {
					font-size: 20px;
				}
			}

			main {
				text-align: center;
			}

			#copy-button {
				font-size: 1rem;
				margin: 0 auto;
				padding: 0.625rem 1.25rem;
				border: none;
				border-radius: 0.25rem;
				background-color: #0066CC;
				color: #fff;
				cursor: pointer;
				transition: background-color 0.3s ease, box-shadow 0.3s ease;
				box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);

				&:hover, &:focus {
					background-color: #004D99;
					box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
				}

				&:active {
					background-color: #003366;
					box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
					transform: translateY(0.04em);
				}
			}


		</style>
	</head>
	<body>
		<main>
			<h1>{siteTitle}</h1>
			<button id="copy-button">Copy to Clipboard</button>
		</main>
	</body>	
</html>
